#myContainer {
  width: 400px;
  height: 50px;
  position: relative;
  background: yellow;
}
#myBlock {
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: red;
}

#Accendi{
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: rgb(0, 0, 0);
 
}

#spegni{
  width: 500px;
  height: 50px;
  position: relative;
  background-color: rgb(183, 8, 84);
 
}